{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h5 class="my-3 border-bottom pb-2">검색할 영화제목을 입력해주세요</h5>
  <form method="post" classs="post-form my-3">

    {% for field,errors in form.errors.items() %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ form[field].label }}</strong> : {{ ','.join(errors) }}
    </div>
    {% endfor %}

    {{ form.csrf_token }}
    {{ form.search.label }}
    {{ form.search(class="form-control") }}

    <button type="submit" class="my-3 btn btn-primary">검색하기</button>
  </form>
</div>

{% if movieinfo_list  %}
<div class="container my-3">
        <table class="table table-hover">
            <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>평점</th>
                <th>배우</th>
                <th>출시일</th>
                <th>이미지</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movieinfo_list %}
                <tr>
                    <td> {{ loop.index }} </td>
                    <td> {{ movie.title|safe }} </td>
                    <td> {{ movie.userRating|safe }} </td>
                    <td> {{ movie.actor|safe }} </td>
                    <td> {{ movie.pubDate|safe }} </td>
                    <td><img src="{{ movie.image }}" height="100" width="100"></img> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>

{% endif %}


{% endblock %}
